@import './fonts.css';
@import './tailwind.css';
@import './theme.css';

a,
button,
[role="button"] {
  cursor: pointer;
}

button:disabled,
[role="button"][aria-disabled="true"] {
  cursor: default;
}
